[Unit]
Description=playground-core
Documentation=https://github.com/yingzhuo/playground
After=syslog.target

[Service]
User=root
Group=root
Environment="JAVA_HOME=/var/lib/java8"
EnvironmentFile="/opt/playground/playground-core.env"
ExecStart=/var/lib/java8/bin/java \
    -Djava.security.egd=file:/dev/./urandom \
    -Duser.timezone="Asia/Shanghai" \
    -Duser.language="zh" \
    -Duser.country="CN" \
    -jar /opt/playground/playground-core.jar
KillSignal=15

[Install]
WantedBy=multi-user.target