<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="FLUME_B1" class="com.github.yingzhuo.logback.flume.FlumeAvroAppender">
        <flumeAgents>
            192.168.99.127:4141
        </flumeAgents>
        <flumeProperties>
            connect-timeout=4000;
            request-timeout=8000
        </flumeProperties>
        <batchSize>100</batchSize>
        <reportingWindow>1000</reportingWindow>
        <headers>
            <application>playground</application>
            <tier>playground</tier>
            <type>business-1</type>
        </headers>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%message%n%ex</pattern>
        </layout>
    </appender>

    <appender name="FLUME_B2" class="com.github.yingzhuo.logback.flume.FlumeAvroAppender">
        <flumeAgents>
            192.168.99.127:4141
        </flumeAgents>
        <flumeProperties>
            connect-timeout=4000;
            request-timeout=8000
        </flumeProperties>
        <batchSize>100</batchSize>
        <reportingWindow>1000</reportingWindow>
        <headers>
            <application>playground</application>
            <tier>playground</tier>
            <type>business-2</type>
        </headers>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%message%n%ex</pattern>
        </layout>
    </appender>

</included>