[Unit]
Description=playground-core
Documentation=https://github.com/yingzhuo/playground
After=syslog.target

[Service]
User=yingzhuo
Group=yingzhuo
ExecStart=/var/lib/java8/bin/java \
    -Djava.security.egd=file:/dev/./urandom \
    -Duser.timezone="Asia/Shanghai" \
    -Duser.language="zh" \
    -Duser.country="CN" \
    -jar /opt/playground/playground-core.jar
KillSignal=15

[Install]
WantedBy=multi-user.target
